#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}



.box{
    background-color: #ceb5b5;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   width: 700px;
   align-items: center;

}
button{
    padding: 5px;
    width: 50px;
    background-color: rgb(227, 73, 73);
    border: 1px;
    cursor: pointer;

    
}
button:hover{
    box-shadow: 2px 2px 5px black;

}